.content {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.page-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-button {
    margin: 15px 0;
    background-color: rgb(2, 122, 2);
    color: rgb(255, 255, 255);
}

.add-button .icon-button {
    color: rgb(255, 255, 255);
}

table{
    width: 100%;
}

.filter {
    display: block;
    font-size: 13px;
    width: 25%;
    margin-top: 10px;
}

.mat-cell{
    font-size: 13px;
}

.mat-column-options {
    flex: 0 0 10%;
}

.mat-column-id {
    flex: 0 0 5%;
}

.tab-icon{
    margin: 5px;
}
