.modalTitle{
    font-size: 16px;
}

.userInput{
    width: 100%;
    font-size: 13px;
}
  
.btnModal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}