.userInput{
    width: 100%;
    font-size: 12px;
}

table{
    width: 100%;
    
}

.procRealizados{
    max-height: 300px;
    overflow: auto;
}

.mat-cell{
    font-size: 13px;
}

.title {
    font-size: 18px;
    color: rgb(161, 158, 158);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}